<div class="container m-5">
<div class="row">
<div class="col mt-3">
<h2><u><%= link_to "[+]", new_restaurant_path %>&nbsp;My list of restaurants</u></h2>
<ul class="list-group mt-3">
<% @restaurants.each do |restaurant| %>
 <li class="list-group-item"><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
<%end%>
</ul>



</div></div></div>
